html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}
body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #0f6bb2;
  margin: 1rem 0;
}
.links{
    text-decoration: none;
    color:rgb(132, 0, 0);
  }