{% extends 'base.html' %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
{% block header %}
<header>
  <h1>{% block title %}Albumes{% endblock %}</h1>
</header>
{% endblock %} {% block content %} {% for albumes in album %}
<article class="albums">
  <body>
    <div>
      <h1>{{ albumes['Album'] }}</h1>
      <div class="de">Artista: {{ albumes['Artista'] }}</div>
      <div class="de">Duración: {{ albumes['Duración'] }} milisegundos</div>
    </div>
  </body>
</article>
{% endfor %} {% endblock %}
