{% extends 'base.html' %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
{% block header %}
<header>
  <h1>{% block title %}Canciones{% endblock %}</h1>
</header>
{% endblock %} {% block content %} {% for Cancion in canciones %}
<article class="Cancion">
  <body>
    <div>
      <h1>Cancion: {{ Cancion['Cancion'] }}</h1>
      <ul>
        <h3>
          <a class="links" href="{{ url_for('artista.index') }}">Artistas</a>
        </h3>
        <h3>
          <a class="links" href="{{ url_for('album.index') }}">Albumes</a>
        </h3>
      </ul>
    </div>
  </body>
</article>
{% endfor %} {% endblock %}